name: Autograding Tests
'on':
- push
- workflow_dispatch
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Module0 Test
      id: module0-test
      uses: education/autograding-command-grader@v1
      with:
        test-name: Module0 Test
        setup-command: sudo -H pip3 install pytest
        command: pytest
        timeout: 10
    - name: Autograding Reporter
      uses: education/autograding-grading-reporter@v1
      env:
        MODULE0-TEST_RESULTS: "${{steps.module0-test.outputs.result}}"
      with:
        runners: module0-test
